<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A propos</div>
              <p> <strong>Ezechiel Ngbowa</strong>  .Actuellement devellopeur freelance dans le devellopement 
              mobile et web.</p>


              <p>
                Passioné de la nouvelle technologie et du devellopement, j'ai appris mon premier langage informatique
                 à l'age de 14 ans au college, puis m'amelioré dans diverse formations.
                <!-- Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do. -->
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date de naissance:</strong>
                </div>
                <div class="col-sm-8">Août, le 29</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">ezechielsums001@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+243 (0) 824550480</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">A3, av lokolama C/Kalamu Q/Matonge
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langue:</strong>
                </div>
                <div class="col-sm-8">Français, Anglais, Lingala</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>