<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projets</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/banner.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Application loto Maseki</h4>
          <h5 class="card-text"><b>Technologie :</b> Flutter, firebase </h5>
            <!-- <h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5> -->
           
          <a href="#" disabled class="btn btn-primary stretched-link ml-2 mr-5">Voir le projet</a>
          <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top mb-3"src="assets/images/covidrc.png" alt="Card image" style="width:100%">
        <div class="card-body mt-5">
          <h4 class="card-title">Application de covid-19</h4>
           <h5 class="card-text"><b>Technologie :</b> Flutter, nodejs  </h5>
    
            <!-- <h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5> -->
            <a href="http://covidrc19.web.app/" disabled class="btn btn-primary stretched-link ml-2 mr-5">Voir le projet</a>
    
        <!-- <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a> -->
          <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top mb-5" src="assets/images/coltant.JPG" alt="Coltan cellular image" style="width:100%">
        <div class="card-body mt-3">
          <h4 class="card-title">Coltan Cellular</h4>
          <h5 class="card-text"><b>Technologie :</b> Wordpress, Elementor </h5>
          <a href="http://coltancellular.com/" disabled class="btn btn-primary stretched-link ml-2 mr-5">Voir le projet</a>

            <!-- <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5> -->
        <!-- <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
     
      
    
    
    </div>
    </div>
  </div>