<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img src="assets/images/sums.jpg" alt="Image" />
              </a>
            </div>
            <div class="h2 title">Ezechiel Sum's</div>
            <p class="category text-white">Full Stack Develloper</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Me contacter</a>
            <a class="btn btn-primary"
              href="" download 
              
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Télécharger le CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://web.facebook.com/people/Ezechiel-Sums-Ngbowa/100005127554953?pageid=118216561716099&ftentidentifier=412621702275582&padding=0&_rdc=1&_rdr"
                target="_blank" rel="tooltip" title="Suivez moi sur facebook Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/mehul_kothari05/"
                target="_blank" rel="tooltip" title="Follow me on Instagram">
                <i class="fa fa-instagram"></i>
              </a>    assets/doc/cv_ezechiel.pdf -->
              <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/mehul-kothari-765868126/"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a> -->
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/sums-shadow"
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://cd.linkedin.com/in/ezechiel-sum-s-09304616a?trk=people_directory"
                target="_blank" rel="tooltip" title="Follow me on linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip"
                title="Follow me on instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>